*.user
.idea/
bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/

DevopsExtension/npm-debug.log
DevopsExtension/node_modules/
DevopsExtension/dist/
DevopsExtension/*.vsix
DevopsExtension/publish.sh

# JUNIT testresult
DevopsExtension/test-results.xml

# Coverage directory used by tools like istanbul
DevopsExtension/coverage
*.lcov
*.vsix
